<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/xs.css" />
   <link rel="stylesheet" type="text/css" href="/assets/welcome.css" />
<% end %>
<div id="sidebar">
  <div class="onemanlogo">
  	万门大学<%= @x.name %>
  </div>
  <div class='onemanlogo'>
    <ul class="navigation">
      <li><a href="/">首页</a></li>
    </ul>
  </div>
</div>
<div id="content">
    <div id="home">
    	<div class="centralFrame">
			<span class="parallaxbg">
			</span>
		</div>
    </div>
</div>