<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
 
<p>
  <strong>Intro:</strong>
  <%= @video.intro %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@video.img, :alt => "rss feed") %>
</p>
<p>
  <strong>URL:</strong>
  <%= @video.url %>
</p>
