<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/departments.css" />
   <link rel="stylesheet" type="text/css" href="/assets/welcome.css" />
<% end %>
<div id="sidebar">
  <img class="onemanlogo" src="/assets/home/logopng.png"> 
  <img class="onemanlogo" src="/assets/home/mottotext.png">
  <div class='onemanlogo'>
    <ul class="navigation">
      <li><a href="/">首页</a></li>
      <li><a href="/departments">万门各院系</a></li>
      <li>万门x项目</li>
      <li>万门团队</li>
    </ul>
  </div>
</div>
<div id="content">
    <div id="home">
      <div class="departmentFrame">
      <ul class="polaroids">
        <% @departments.each do |department| %>
         <li>
            <a href="<%= department_path(department)%>" title="<%= department.name %>">
              <img height="150px" src="<%= department.coverUrl%>" alt="<%= department.name %>" />
            </a>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
</div>
