<p>
  <strong>Title:</strong>
  <%= @booklist.title %>
</p>
<p>
  <strong>Creator:</strong>
  <%= @booklist.creator %>
</p>

<p>
  <strong>Intro:</strong>
  <%=raw Kramdown::Document.new(@booklist.intro).to_html %>
</p>
