<h1>Listing reviews</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
    <th>link</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.title %></td>
      <td><%=raw Kramdown::Document.new(review.content[0..29]).to_html %></td>
      <td><%= link_to "Detail",department_review_path(:id =>review.id) %></td>
    </tr>
  <% end %>
</table>